@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");

body{
 background:linear-gradient(to bottom, #567788 0%,#121f25 100%) no-repeat center center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
}

nav{
    background: #eff4f7;
    margin: 40px;
    height: 80px;
    position: relative;
    z-index: 5;
}

nav ul li a {
    text-decoration: none;
    color: #a4a8a9;

}

nav ul {
    text-align: right;
}
li{
    display: inline-block;

    list-style: none;
    margin-right: 20px;
    border-bottom: 23px;
}

nav ul li {
    padding: 20px 20px 0 20px;

    margin: 20px;
   border-bottom: 23px;

}

nav ul li a:hover{
    cursor: pointer;
    border-bottom: #70e9ff;
    color: #333;
}

.logo{
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 380px;
    background:  #ea3d51;
    width: 140px;
    height: 140px;
    margin: 30px 20px 0 20px;
}

.logo>h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #FFFFFF;
    margin-top: 103px;
}

main{
    background: #CBD0D9;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
header{
    text-align: center;

}
header .book-title{
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
    text-transform: uppercase;
}

header .book-genre{
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
}

.top{
  position: relative;
   z-index: 8;
   margin: 0 auto;
    color:#ffffff;
    width:300px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #eb3c53 0%, #e6135c 100%) no-repeat center center;

}

img{
   display: block;
    text-align: center;
    width:  100%;
    max-width: 80px;
    border-radius: 50%;
    margin: 0 auto;

}

.text::before {
    content: ' " ';
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}


.text::after {
    content: ' " ';
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}

.stars{
    font-size: 25px;
    margin: 10px;
}
button{
    background: none;
    border: 3px solid #70ecff;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 25px;;
}

button:hover{
   background: #70ecff;
    border-color: #70ecff;
    color:  #348098;

}

.txt{
    position: relative;
    z-index: 4;
    top:  -250px;
    background:  #ffffff;
    margin:  50px;
    padding:  250px 35px 35px 35px;

}

.txt h1{
    color: #46ee97;
    font-size: 42px;
}

.txt p{
    width: 70%;
}
.txt button{
    background: none;
    border:  3px solid #628291;
    text-transform: uppercase;
    font-size:  12px;
    color: #333;
    padding:  10px 25px;

}

.txt button:hover{
    background:  #628291;
 cursor: pointer;
    color:  #6dffb8;

}