@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body{
    font-size: 14px;
    font-family:  Tahoma, Helvetica, sans-serif;
   padding:  80px 50px;

}

ul, nav, label{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 80%;
    background-color:  #384452;


}


nav ul li {

    display: inline-block;
    list-style: none;
    padding: 25px;

}


nav ul li a {
    text-decoration: none;
    margin-left: 15px;
    color: #8BAEC2;;
}

.btn{
   margin-left:  4px;
  width:  210px;
    height:  46px;
   text-transform:  uppercase;
   background-color: #384452;
    color:  #CED1CA;
    vertical-align: top;

}

.btn:hover{
    background-color:  #3BBC96;
    color:  #FFF7E4;
  cursor:  pointer;

}


nav ul li a::before{
    font-family: FontAwesome, serif;
    margin-right: 10px;
    font-size: 18px;
}

li:first-child a::before {
    content: "\f002";
}

li:nth-child(2) a::before{
    content: "\f02c";
}
 li:nth-child(3) a::before{
     content: "\f041";
 }

 li:nth-child(4) a::before{
     content: '\f007';
 }

 li:hover{
     background-color: #3BBC96;
     cursor: pointer;
 }

 li:hover a{
     color: #ffffff;
 }

main{
    width: 80%;
    display: Flex;
    flex-wrap:  Wrap;
    background-color: #CED1CA;

}

main label{
    display: inline-block;
}

label{
    color:  #374574;
   display:  block;
   font-weight:  bold;
   width:  175px;
    margin-left:  38px;
   margin-top:  20px;



}

input{
    border: 1px solid #CDCDCD;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 46px;
    padding-left: 14px;
}









