body{
    font-family: "Lato", sans-serif;
}

table{
    color: #333333;
    margin: 0 auto;
    border-collapse: collapse;

}

tr:nth-child(even) td, tr:nth-child(even) th {
    background-color: #689ad8;
}

 .head{
    color: #ffffff;
    background-color: #90b4d6;
   text-align: center;
   letter-spacing:2px;
     padding: 5px 30px 5px 10px;
}

.bold{
  padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0;
   text-align: left;
  background-color:  #84b3ad;

}

td{
    padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0;
    text-align: left;
    background-color: #84b3ad;
    width: 150px;

}