
body{
    background: #EBEBEB;
}

h1{
    background:#F1F1F1;
    color: #32A2E4;
    font-size: 28px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: 100;
    padding: 15px;
    width: 97%;
    margin: 0 auto;
}

main{

    width: 80%;
    margin: 0 auto;
}

p{
    font-size: 13px;
    width: 100%;

    font-family: Tahoma, Helvetica, sans-serif;
}

.name{
    width: 126px;
}

.inpT, .inpS{

    display: inline-block;
    vertical-align: middle;
}

.labl, .h{
    width: 25%;
    font-weight: bold;

}

.inpS{
    width: 18%;
    margin-left: 27px;
}
.inpT{
    width: 75%;
}

.frst{
    border-bottom: solid 2px #85856a;

}
.sec{
    padding-top: 20px;

    width: 100%;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}

.personalDet{
    width: 23%;

}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

.request{

    width: 60%;
    margin-left: 144px;
}

.personalDet, .request{
    display: inline-block;
    vertical-align: top;
}

.h{
    padding-right: 30%;

}

.request label{
    display: inline-block;
    vertical-align: inherit;
}

.hd{
    padding-right: 63%;
    font-weight: bold;
}

select{
    width: 38%;
    padding: 5px;
}


select{
    width: 245%;
    padding: 5px;
    margin-right: 59px;
}

.num{
    margin-left: 148px;
    margin-top: -2px;

}
.date{
    width: 95%;
    margin-right: 100px;
}

.numb{
    margin-left: 57px;
    margin-top: 2px;
    width: 89%;
}

button{
    background-color: #32A2E4;
    color: #ffffff;
    margin-top: 19px;
    padding: 5px 28px 5px 28px;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    margin-left: 77%;
}

button:hover{
    background-color: #3BBC96;
    cursor: pointer;
}