@import url("https://fonts.googleapis.com/css?family=Lobster");

body{

    font-size: 16px;
    width: 800px;
    padding: 20px;

    margin: 0 auto;

}

img{
    width: 200px;
    float: left;
    margin-right: 20px;
}

article{
    margin-top: 20px;
    text-align: justify;
}
article > p{
    font-family: Arial,Verdana,sans-serif;
    line-height: 30px;
    font-size: 1.4rem;
    color: #665544;
}
p+p{
    font-style: italic;
    text-align: right;
}

article > p:first-of-type:first-letter{
    font-size: 3.8rem;
    font-family: 'Lobster',cursive;
    font-weight: bold;
    text-transform: uppercase;
}

h1, h2, h3, a{
    font-style: normal;
    color:#0088dd;
    margin: 0;
    text-align: center;
    font-size: 2.1rem;
    text-decoration:  none;
}

article h1{
    font-family: Georgia,Times,serif;
    font-size: 3.5rem;
    text-shadow: 2px 4px 4px #666666;
    padding-bottom: 10px;
    text-transform: capitalize;
}
article h2 {
   font-family:  Arial,sans-serif;
    font-size: 2.3rem;
    text-transform: capitalize;
    letter-spacing:   0.3rem;
    font-weight: lighter;

}