@import url("https://fonts.googleapis.com/css?family=Sansita");

body {
    background-image: url("bg.jpg");
    background-size: auto;
    font-family: sansita;
    font-size: 20px;
}



article{
    background-color: rgba(245, 230, 254, 0.9);
    border-radius: 10px;
    margin: 0 250px 25px 150px;
    padding: 20px;
}

article>header#webColors{
    background-color: #FF0000;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    color: #ffffff;
}
article>header#RGBA{
    background-color:#007A00 ;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    color: #ffffff;
}

article>header#HSLHSV{
    background-color:#740074;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    color: #ffffff;

 }
article>footer a{
    color:#978396;
}
body>header{

    text-align: center;
    color: #FFFF00;
    font-size: 30px;
    padding: 10px 0 10px 0;
    margin: -8px -8px 0 -8px;
    background-image: -webkit-linear-gradient(left, #FF0000 33%, #007A00 33%, #007A00 66%, #0000FF 33%, #0000FF 100%);
}



body>aside {
    float: left;
    background-color: rgba(245, 230, 254, 0.9);
    border-radius: 10px;
    margin: 27px 30px 25px 0;
    padding: 7px;
    font-size: 20px;
}
main>section{
    margin-top: 30px;
    margin-left: 100px;
}
nav>header{
    text-align: center;
    text-decoration: underline;
}
ul{
    list-style-type: none;
    padding: 0 5px 0 2px;
}

ul>li a{
    text-decoration: none;
    color: black;

}
 ul>li:first-of-type>a:hover{
     background-color: #FF0000;

     border-radius: 50px;

 }
ul>li:nth-of-type(4)>a:hover{
    background-color: #007A00;

    border-radius: 50px;
}

ul>li a::before {
    content:url("a.png");
    position: relative;
    padding: 10px;
    right: 5px;
    top: 7px;
}