@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");



body{
    background: linear-gradient(45deg,
    rgba(253,149,192,1) 0%,
    rgba(195,95,204,1) 38%,
    rgba(175,104,241,1) 66%,
    rgba(175,104,241,1) 84%,
    rgba(168,125,255,1) 100%);

    background-size: cover;
    font-family: "Lato", sans-serif;
    font-size: 14px;

}
.plan-types {

    margin: 20px 100px 50px 100px;
}
#basic-plan {
    background-color: #ffffff;
    background-image: url("plan-background-basic.png");
    background-size: cover;
    border-radius: 20px;
    width: 230px;
    height: 350px;
    margin: 10px 10px 10px 0;


}

#pro-plan{
    background-color: #ffffff;
    background-image: url("plan-background-pro.png");
    background-size: cover;
    border-radius: 20px;
    width: 230px;
    height: 350px;
    margin: 10px 40px 10px 5px;


}

#med-plan{
    background-color: #ffffff;
    background-image: url("plan-background-med.png");
    background-size: cover;
    background-size: cover;
    border-radius: 20px;
    width: 230px;
    height: 350px;
    margin: 10px 0px 10px -27px;


}
ul li .title{
    color: #ffffff;
    font-size: 80px;
}

ul li .price{
    font-size: 50px;
    padding-left: 40px;


}

ul li .plan{
   margin: -40px 30px 0 0;
    padding-left: 40px;
    font-weight: 500;
}

.select-plan{
    border-radius: 50px;
    padding: 12px 15px;
    margin-left: 90px;
    margin-top: 30px;
    background: linear-gradient(45deg,
    rgba(253,149,192,1) 0%,
    rgba(195,95,204,1) 38%,
    rgba(175,104,241,1) 66%,
    rgba(175,104,241,1) 84%,
    rgba(168,125,255,1) 100%);
    color: #ffffff;
    color: #ffffff;
    font-weight: 800;
}
.chosen-plan{
    padding: 12px 15px;
   margin-left: 90px;
    margin-top: 30px;
    background: linear-gradient(45deg,
    rgba(253,149,192,1) 0%,
    rgba(195,95,204,1) 38%,
    rgba(175,104,241,1) 66%,
    rgba(175,104,241,1) 84%,
    rgba(168,125,255,1) 100%);
    color: #ffffff;
    font-weight: 800;
}

ul li{
    display: inline-block;
    vertical-align: text-top;
    list-style-type: none;

}

main{
    background-color: #2D3154;
    margin: 30px 80px 200px 160px;
    padding: 5px 50px 200px 50px;
    border-radius: 20px;
}

.information{

   margin: 0 500px 0 20px;
    color: #ffffff;
}
.plan-title:first-letter {
    text-transform: uppercase;
}

.continue{
    padding: 15px 20px 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    background: linear-gradient(45deg,
    rgba(225, 165, 124,1) 0%,
    rgba(225, 155, 117,1) 38%,
    rgba(224, 134, 103,1) 66%,
    rgba(205, 96, 106,1) 84%,
    rgba(295,96,106,1) 100%);
    border: none;
    color: #ffffff;

}
.next-step{

    text-align: center;
    margin: 120px 0 -150px 0;
}


.continue:first-letter{
    text-transform: uppercase;
}
