@import url("https://fonts.googleapis.com/css?family=Lato:400,700 ");
@import url("https://fonts.googleapis.com/css?family=Anton");




main{
    border-radius: 50px;
    margin: 0 auto;
    width: 900px;
   height: 500px;
    box-sizing: border-box;
    box-shadow: 0 7px 9px 10px rgba(234, 246, 246, 1), 0 6px 20px 0 rgba(234, 246, 246, 1);


}
.picture{
    width: 45%;
    height: 100%;
    background: linear-gradient(to bottom, #6afdc9 0%,#42c9ca 100%);
    position: relative;
    float: left;
    border-radius: 50px 0 0 50px;
}

img{
   width: 75%;
    height: 60%;
    position: absolute;
    top: 65px;
    left: 15px;
}
.info{

    width: 54%;
    height: 100%;
    float: right;
    border-radius: 0 50px 50px 0;
}
h1{
    font-size: 40px;
    font-family: Anton;
    line-height: 30px;
    padding-top: 11px;
}

h2{
    font-size: 35px;
    font-family: Anton;
}
form{
    padding-left: 43px;
    height: 100%;
}

input{
    padding: 7px;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border-bottom: solid #42c9ca;
    outline: none;
      margin: 12px;

}

select{

    padding: 10px 145px 10px 10px;
    outline: none;
    margin: 12px;
    -webkit-appearance: none;
    background-color: #42c9ca;
    border: #42c9ca;
    color: #fff;

}

div{
    font-family: Lato, sans-serif;
    font-size: 14px;
}

option{
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 14px;
}
selector{
    color: #ffffff;

}

::-webkit-input-placeholder{
    color: #42c9ca;
}
button{
    padding: 9px 40px 9px 40px;
    text-transform: uppercase;
    color: #42c9ca;
    border: solid #42c9ca;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 13px;

}

button:hover{
    background-color:#42c9ca;
    color: #ffffff;
    cursor: pointer;
}

